* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/Gemini_Generated_Image_s6zf5ys6zf5ys6zf.png);
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  display: inline-block;
}
.btn {
  border-radius: 999999px;
  background-color: #bb6bd9;
  color: white;
}
/* ============pricing-table============= */
/* max w=1366 h=1024 */
/* ===========header=========== */
/* header w=1220 h=38 */
.pricing-table .header {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.pricing-table .btn {
  padding: 12px 38px;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
}
/* =============content=========== */
/* content w=1050 h784 */
.pricing-table .content {
  max-width: 76%;
  margin: 0 auto;
  margin-top: 66px;
}
.pricing-table .content h2 {
  color: #231d4f;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
}
/* info-content */
.pricing-table .content .info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.pricing-table .content .info {
  color: #848199;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: normal;
  max-width: 584px;
}
.pricing-table .content .btn-choice {
  padding-right: 24px;
  background-color: #fff;
  border-radius: 99999px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.39) inset;
}
.pricing-table .content .btn {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  padding: 10px 18px;
  margin-right: 20px;
}
.pricing-table .content .no-choose {
  color: #312d4f;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
}
/* main-content */
.pricing-table .content .main-content {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 50%);
  margin-top: 108px;
  margin-bottom: 96px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
.pricing-table .main-content .plan {
  padding: 72px 26px;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 20px;
  max-width: 292px;
}
.pricing-table .main-content .money {
  color: #231d4f;
  font-size: 3.6rem;
  font-weight: 700;
  font-style: normal;
}
.pricing-table .main-content .time {
  color: #848199;
  font-size: 1.7rem;
  font-weight: 500;
  font-style: normal;
}
.pricing-table .title-desc {
  margin-top: 32px;
  font-weight: 500;
  font-style: normal;
}
.pricing-table .title-desc .title {
  color: #231d4f;
  font-size: 2.8rem;
  margin-bottom: 14px;
}
.pricing-table .main-content .desc {
  color: #848199;
  font-size: 1.5rem;
}
.pricing-table .benefits {
  margin-top: 20px;
}
.pricing-table .benefits .list {
  display: flex;
  margin-top: 10px;
}
.pricing-table .benefits .benefit-info {
  font-weight: 500;
  font-style: normal;
  margin-left: 10px;
}
.pricing-table .main-content .choose-plan {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  width: 100%;
  background-color: #87849d;
  margin-bottom: 16px;
}
.pricing-table .main-content .start-btn {
  margin-top: 80px;
}
.pricing-table .main-content .pro-btn {
  margin-top: 50px;
}
.pricing-table .main-content .Company-btn {
  margin-top: 18px;
}
.pricing-table .main-content .plan:nth-child(2) {
  border: 3px solid green;
}
.pricing-table .main-content .plan:hover {
  box-shadow: 0px 10px 26px 10px rgba(0, 0, 0, 0.4);
}
