* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #ccc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
}

/* ============Menu============= */
.menu ul {
  display: flex;
  justify-content: center;
  background-color: #3e5cca;
}
.menu ul a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 28px 16px;
  font-size: 2rem;
}
.menu ul a:hover {
  background-color: white;
  color: black;
}
.menu .active {
  background-color: white;
  color: black;
}
.menu ul a:active {
  color: red;
}
.menu ul li:not(:first-child) {
  border-left: 0.5px solid #ccc;
}
.menu ul li a::before {
  content: "\25B6";
  margin-right: 4px;
}

/* =============form-interactive================= */
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: white;
  border-radius: 20px;
}
.form h1 {
  text-align: center;
}
.form div {
  margin-top: 12px;
}
.form .box-avatar {
  max-width: 350px;
}
.form input {
  outline: none;
  padding: 3px;
  border: 2px solid;
  border-radius: 5px;
}
.form .box-info {
  display: block;
  width: 528px;
  margin-top: 6px;
  padding: 5px 12px;
}
.form .info {
  font-size: 1.6rem;
  font-weight: 500;
}
.form .avatar {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
.form .btn {
  padding: 8px 12px;
  cursor: pointer;
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 528px;
  font-size: 1.6rem;
}
.form .btn:hover {
  background-color: #ccc;
}
.form .btn:active{
    color: white;
    background-color: blue;
}
.form .dob {
  margin-left: 4px;
}
.form .Gender {
  font-size: 1.5rem;
}
.form input:focus{
  border: 2px solid blue;
}
.form input:invalid{
    border-color:red ;
}
.form .important::after{
    content: "*";
    color: red;
}